@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	background-color: var(--color-background);
	color: var(--color-text);

	--color-success: #4caf50;
	--color-warning: #ff9800;
	--color-error: #f44336;

	--color-black: #000000;
	--color-gray: #808080;
	--color-light_gray: #bebebe;
	--color-white: #ffffff;

	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 500ms;
}

.light {
	--color-primary: #156018;
	--color-secondary: #a6f68e;
	--color-accent: #bbe656;
	--color-background: #f8fcf3;
	--color-text: #0f2108;
}

.dark {
	--color-primary: #9feaa1;
	--color-secondary: #217109;
	--color-accent: #7ea919;
	--color-background: #080c03;
	--color-text: #e5f7de;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif, serif;
}

::-webkit-scrollbar {
	width: 3px;
}

::-webkit-scrollbar-track {
	background: white;
}

::-webkit-scrollbar-thumb {
	background: grey;
	border-radius: 5px;
}
